/node_modules
/public/hot
/public/storage
/storage/*
/public/files
public/css/*
!public/css/style.css
!public/css/bootstrap-4-grid.min.css
!public/css/font-awesome.min.css
/public/js
/storage/*.key
/vendor/
/.idea
/.vscode
/.vagrant
/public/act/*
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
nohup.out
public/act/
storage/debugbar/
bootstrap/cache/*
/public/avatars

/.docker
/auth.json
/docker-compose.yml

AIBOLIT-WHITELIST.db
ai-bolit.php
ai-design.html
main_dump.sql
/public/.well-known/
/public/packages/sleepingowl/ckeditor/skins/moono-lisa/
